<div ng-if="$ctrl.terms">
	<div class="clearfix"></div>

	<div class="row" ng-if="$ctrl.errorMessage">
  		<div class="col-md-12 alert alert-danger" >
  			{{$ctrl.errorMessage}}
  		</div>
	</div>

	<div class="row">
    
		<div class="col-md-12">
			<h4 class="card-title">Terms removed</h4>
		</div>
		
		<div class="col-md-12" ng-if="$ctrl.rejected.length == 0">No terms</div>




		<div class="col-md-6" ng-if="$ctrl.rejected.length > 0">
			<ul class="terms-list">
				<li ng-repeat="term in $ctrl.rejected" ng-if="term.left">
	            	<span style="display:block;">

	                	<span>{{term.term_string}}</span>
	                </span>
	                
	            </li>
	        </ul>
		</div>

		<div class="col-md-6" ng-if="$ctrl.rejected.length > 0">
			<ul class="terms-list">
				<li ng-repeat="term in $ctrl.rejected" ng-if="term.right">
	            	<span style="display:block;">
	                	<span>{{term.term_string}}</span>
	                </span>	                
	            </li>
	        </ul>
		</div>

		<div class="col-md-12">
	    	&nbsp;
	    </div>

	    <div class="col-md-12">
			<h4 class="card-title">Terms under review</h4>
		</div>

		<div class="col-md-12" ng-if="$ctrl.terms.length == 0">No terms</div>

	    <div class="col-md-12" ng-show="$ctrl.terms.length > 0 ">
	    	<ul class="terms-list edit">
		        <input style="margin-top:20px;" type="checkbox" ng-checked="checkedAll" ng-click="checkAll(this)"> <span style="margin-top:20px;" >{{checkedAll && 'Deselect All' || 'Select All'}}</span>

		        <div class="btn-group actions-group" dropdown dropdown-append-to-body>
			      <button id="btn-append-to-body" type="button" dropdown-toggle ng-disabled="$ctrl.checkedStatus===false"> <!-- type="button" class="btn btn-secondary" -->
			        Change Status <span class="caret"></span>
			      </button>
			      <div class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
			      	<li class="menu-item" role="menuitem" ng-click="acceptTerms($event)">
						<a href="#" class="accept-action">
					    	<i class="mdi mdi-checkbox-marked"></i>Approve Selected
					    </a>
					</li>
					<li class="menu-item" role="menuitem"  ng-click="revertTermDecision($event)">
					    <a href="#" class="edit-action">
			            	<i class="mdi mdi-pencil"></i>Cancel Decisions
			            </a>
			        </li>
			        <li class="divider"></li>
			        <li class="menu-item" role="menuitem" ng-click="rejectTerms($event)">
			            <a href="#" class="reject-action">
			                <i class="mdi mdi-close-box"></i>Reject Selected
			            </a>
			      	</li>
			      </div>
			    </div>
			</ul>
	    </div>





	    <div class="col-md-12" ng-if="$ctrl.terms.length > 0">
	        <ul class="terms-list edit">
	            <li ng-repeat="term in $ctrl.terms | orderBy:'term_string'">
	            	<span class="actions float-right">
	                	<a href="#" class="accept-action" ng-if="term.status!=='accepted'" ng-click="acceptTerms($event, term)">
		                	<i class="mdi mdi-checkbox-marked"></i>Approve
		                </a>
		                <a href="#" class="edit-action" ng-if="term.status==='accepted' || term.status==='rejected'" ng-click="revertTermDecision($event, term)">
		                	<i class="mdi mdi-undo"></i>Revert decision
		                </a>	                
		                <a href="#" class="reject-action" ng-if="term.status!=='rejected'" ng-click="rejectTerms($event, term)">
		                    <i class="mdi mdi-close-box"></i>Reject
		                </a>



		            </span>
		            <span class="float-left" style="margin-right:5px;">
		            	<input type="checkbox" ng-checked="checkedAll" ng-model="term.checked" ng-click="checkStatus(term.term_id,term.checked)">
		            </span>
	            	<span ng-click="checkStatus(term.term_id,!term.checked)" style="display:block;">
	                	<span ng-if="term.status=='accepted'" class="badge badge-success">approved</span>
	                	<span ng-if="term.status=='rejected'" class="badge badge-danger">{{term.status}}</span>

	                	<span class="term-link" ng-href="../term/{{term.term_string}}" ng-title="term.term_string">{{term.term_string}}</span>
	                </span>
	                
	            </li>
	        </ul>
	    </div>

	</div>


	<div class="editing-warning bg-warning" style="top:0">
		<div class="navbar-brand-wrapper d-flex align-items-center" style="float:left">
            <img style="height:40px;" src="/images/logo.svg" alt="logo"/>
        </div>
		<span class="h5">Review mode</span>
		
		<button ng-click="showConfirm()" class="btn btn-primary" style="float:right">
			Save & Continue
		</button>

		<a href="../edit" class="btn btn-secondary" role="button" aria-pressed="true" style="float:right">
			<!-- <i class="mdi mdi-close"></i> --> Cancel
		</a>
		


	</div>
	<div class="editing-warning bg-warning" style="bottom:0">
		&nbsp;
	</div>

</div>


<div>
    <script type="text/ng-template" id="modal.html">
      <div class="modal-header">
        <h3 class="modal-title">Would you like to proceed?</h3>
      </div>
      <div class="modal-body">
        All rejected terms will be <b>permanently</b> removed from the taxonomy. This change cannot be reverted.</b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">Save and Continue</button>

      </div>
    </script>
</div>