<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row menu-boxed">
    <div class="navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/"><img src="/images/logo.svg" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="/"><img src="/images/logo-mini.svg" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <ul ng-if="$ctrl.menu==='yes'" class="navbar-nav navbar-collapse">
            <li class="nav-item" ng-repeat="link in $ctrl.menuList">
                <a class="nav-link" ng-href="{{link.href}}" href="#">{{link.text}}</a>
            </li>
        </ul> 
        <div ng-if="$ctrl.search==='yes'"class="search-field  d-md-block">
            <form class="d-flex align-items-center h-100" action={{$ctrl.searchAction}}>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" name="query" class="form-control bg-transparent border-0" placeholder="Search ...">
                </div>
            </form>
        </div>
        <button ng-if="$ctrl.menu==='yes'" class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>