<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Saffron - Extracting the Valuable Threads of Expertise</title>
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/vendors/boostrap/bootstrap.min.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body ng-app="app">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <span ng-app="app" ng-controller="AdvancedController">
                        <form name="form">
                            <div class="row">
                                <h3>Term Extraction</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="threshold">Threshold</label>
                                    <input class="form-control" type="number" name="threshold" ng-model="data.termExtraction.threshold" step="0.1"/>
                                </div>
                                <div class="col-md-6">
                                    <label for="maxTerms">Maximum number of terms</label>
                                    <input class="form-control" type="number" name="maxTerms" ng-model="data.termExtraction.maxTerms" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="ngramMin">Shortest Term</label>
                                    <input class="form-control" type="number" name="ngramMin" ng-model="data.termExtraction.ngramMin" min="1" />
                                    <div ng-messages="form.ngramMin.$error" style="color: #ff0000" role="alert" ng-if="form.ngramMin.$dirty">
                                        <div ng-message="min"> Shortest term is 1.</div>
                                        <div ng-message="number">Not a valid input.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="ngramMax">Longest Term</label>
                                    <input class="form-control" type="number" name="ngramMax" ng-model="data.termExtraction.ngramMax" min="1" ng-pattern="/^[0-9]{1,7}$/"/>
                                    <div ng-messages="form.ngramMax.$error" style="color: #ff0000" role="alert" ng-if="form.ngramMax.$dirty">
                                        <div ng-message="min">A term cannot be shorter than 1.</div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <label for="minTermFreq">Minimum Term Frequency</label>
                                    <input class="form-control" type="number" name="minTermFreq" ng-model="data.termExtraction.minTermFreq" min="0"/>
                                    <div ng-messages="form.minTermFreq.$error" style="color: #ff0000" role="alert" ng-if="form.minTermFreq.$dirty">
                                        <div ng-message="min"> Minimum term frequence has a positive value.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="method">Methodology</label>
                                    <select name="method" ng-model="data.termExtraction.method" class="form-control">
                                        <option value="one">Single Feature</option>
                                        <option value="voting">Voting</option>
                                        <!--<option value="puatr">PU-ATR</option>-->
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6" ng-if="data.termExtraction.method=='one'">
                                    <label for="baseFeature">Key Feature</label>
                                    <select name="method" ng-model="data.termExtraction.baseFeature" class="form-control">
                                        <option value="avgTermFreq">Average Term Frequency</option>
                                        <option value="basic">Basic</option>
                                        <option value="comboBasic">Combo Basic</option>
                                        <option value="cValue">C Value</option>
                                        <option value="novelTopicModel">Novel Topic Model</option>
                                        <option value="postRankDC">Post Rank DC</option>
                                        <option value="relevance">Relevance</option>
                                        <option value="residualIdf">Residual IDF</option>
                                        <option value="totalTfIdf">Total IDF</option>
                                        <option value="weirdness">Weirdness</option>
                                        <!--<option value="domainCoherence">Domain Coherence</option>-->
                                        <!--<option value="domainPertinence">Domain Pertinence</option>-->
                                        <!--<option value="linkProbability">Link Probability</option>-->
                                        <!--<option value="keyConceptRelatedness">Key Concept Relatedness</option>-->
                                    </select>
                                </div>
                                <div class="col-md-6" ng-if="data.termExtraction.method=='voting'">
                                    <label for="baseFeature">Features</label>
                                    <div class="list-group">
                                        <div class="list-group-item" ng-repeat="feature in data.termExtraction.features">
                                            <span ng-bind="feature"></span>
                                            <button class="btn btn-danger float-right" ng-click="removeFeature(feature)">Remove</button>
                                        </div>
                                        <div class="list-group-item">
                                            Add feature
                                            <select id="newFeatureInput" class="form-control">
                                                <option value="avgTermFreq">Average Term Frequency</option>
                                                <option value="basic">Basic</option>
                                                <option value="comboBasic">Combo Basic</option>
                                                <option value="cValue">C Value</option>
                                                <option value="novelTopicModel">Novel Topic Model</option>
                                                <option value="postRankDC">Post Rank DC</option>
                                                <option value="relevance">Relevance</option>
                                                <option value="residualIdf">Residual IDF</option>
                                                <option value="totalTfIdf">Total IDF</option>
                                                <option value="weirdness">Weirdness</option>
                                            </select>
                                            <button class="btn btn-success float-right" ng-click="addFeature()">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="blacklist">Blacklist</label>
                                    <div class="list-group">
                                        <div class="list-group-item" ng-repeat="black in data.termExtraction.blacklist">
                                            <span ng-bind="black"></span>
                                            <button class="btn btn-danger float-right" ng-click="removeBlack(black)">Remove</button>
                                        </div>
                                        <div class="list-group-item">
                                            <label for="newBlacklistInput">Add term</label>
                                            <input type="text" id="newBlacklistInput" class="form-control">
                                            <button class="btn btn-success float-right" ng-click="addBlack()">Add</button>
                                        </div>
                                    </div>
                                    <div>Blacklist file:
                                        <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.blacklistFile" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="w2vmodelPath">Reference Corpus</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.corpus" />
                                </div>
                                <div class="col-md-6">
                                    <label for="oneTermPerDoc">At least one term per document</label><br>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success" ng-click="data.termExtraction.oneTermPerDoc = true" ng-class="{disabled: !data.termExtraction.oneTermPerDoc,active: data.termExtraction.oneTermPerDoc}">Yes</button>
                                        <button type="button" class="btn btn-danger" ng-click="data.termExtraction.oneTermPerDoc = false" ng-class="{disabled: data.termExtraction.oneTermPerDoc,active: !data.termExtraction.oneTermPerDoc}">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h3>Term Extraction (language specific)</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="posModel">Part-of-speech model (for <a href="http://opennlp.sourceforge.net/models-1.5/">OpenNLP</a>)</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.posModel" />
                                </div>
                                <div class="col-md-6">
                                    <label for="tokenizerModel">Tokenizer model (for <a href="http://opennlp.sourceforge.net/models-1.5/">OpenNLP</a>, empty for whitespace tokenizer)</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.tokenizerModel" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="lemmatizerModel">Lemmatizer model (for <a href="http://opennlp.sourceforge.net/models-1.5/">OpenNLP</a>)</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.lemmatizerModel" />
                                </div>
                                <div class="col-md-6">
                                    <label for="stopwords">Stopwords ([path to file, one word per line, empty for standard English list)</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.stopWords" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="preceedingTokens">Part-of-Speech tags occuring in any location in the term</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.preceedingTokens" />
                                </div>
                                <div class="col-md-6">
                                    <label for="middleTokens">Part-of-Speech tags occuring in non-initial, non-final position</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.middleTokens" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="headTokens">Part-of-Speech tags occuring at end of term</label>
                                    <input class="form-control" type="text" name="corpus" ng-model="data.termExtraction.headTokens" />
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="form-check" style="padding-top:2em;">
                                        <input class="form-check-input" type="checkbox" name="corpus" ng-model="data.termExtraction.headTokenFinal">
                                        <label for="headTokenFinal" class="form-check-label">Head-last language</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                Terms match regular expression
                                <span ng-if="data.termExtraction.headTokenFinal">
                                    ({{data.termExtraction.preceedingTokens}}+({{data.termExtraction.middleTokens}}|{{data.termExtraction.preceedingTokens}})*){{data.termExtraction.headTokens}}
                                </span>
                                <span ng-if="!data.termExtraction.headTokenFinal">
                                    {{data.termExtraction.headTokens}}(({{data.termExtraction.middleTokens}}|{{data.termExtraction.preceedingTokens}})*{{data.termExtraction.preceedingTokens}}+)
                                </span>
                            </div>
                            <div class="row">
                                <h3>Concept Consolidation</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="conceptAlgorithm">Algorithm</label>
                                    <select name="conceptAlgorithm" ng-model="data.conceptConsolidation.algorithm" class="form-control">
                                        <option value="simple">Simple</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <h3>Author-Term Extraction</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="authorTermTopN">Top N</label>
                                    <input class="form-control" type="number" name="authorTermTopN" ng-model="data.authorTerm.topN" />
                                </div>
                            </div>
                            <div class="row">
                                <h3>Author Similarity Extraction</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="authorSimThreshold">Threshold</label>
                                    <input class="form-control" type="number" name="authorSimThreshold" ng-model="data.authorSim.threshold" />
                                </div>
                                <div class="col-md-6">
                                    <label for="authorSimTopN">Top N</label>
                                    <input class="form-control" type="number" name="authorSimTopN" ng-model="data.authorSim.topN" />
                                </div>
                            </div>
                            <div class="row">
                                <h3>Term Similarity Extraction</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="termSimThreshold">Threshold</label>
                                    <input class="form-control" type="number" name="termSimThreshold" ng-model="data.termSim.threshold" />
                                </div>
                                <div class="col-md-6">
                                    <label for="termSimTopN">Top N</label>
                                    <input class="form-control" type="number" name="termSimTopN" ng-model="data.termSim.topN" />
                                </div>
                            </div>
                            <div class="row">
                                <h3>Taxonomy Extraction</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="algorithm">Algorithm</label>
                                    <select name="algorithm" class="form-control" ng-model="data.taxonomy.search.algorithm">
                                        <option value="greedy">Greedy</option>
                                        <option value="beam">Beam</option>
                                        <option value="mst">Minimum Spanning Tree</option>
                                    </select>
                                </div>
                                <div class="col-md-6" ng-if="data.taxonomy.search.algorithm!=='mst'">
                                    <label for="score">Scoring Method</label>
                                    <select name="score" class="form-control" ng-model="data.taxonomy.search.score">
                                        <option value="simple">Simple</option>
                                        <option value="transitive">Transitive</option>
                                        <option value="bhattacharryaPoisson">Bhattacharrya-Poisson</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" ng-if="data.taxonomy.search.algorithm==='beam'">
                                    <label for="beamSize">Beam Size</label>
                                    <input class="form-control" type="number" name="beamSize" ng-model="data.taxonomy.search.beamSize" />
                                </div>
                                <div class="col-md-6" ng-if="data.taxonomy.search.score==='bhattacharryaPoisson'">
                                    <label for="baseScore">Base Scoring Method</label>
                                    <select name="baseScore" class="form-control" ng-model="data.taxonomy.search.baseScore">
                                        <option value="simple">Simple</option>
                                        <option value="transitive">Transitive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" ng-if="data.taxonomy.search.score==='bhattacharryaPoisson'">
                                    <label for="aveChildren">Average number of children</label>
                                    <input class="form-control" type="text" name="aveChildren" ng-model="data.taxonomy.search.aveChildren" />
                                </div>
                                <div class="col-md-6" ng-if="data.taxonomy.search.score==='bhattacharryaPoisson'">
                                    <label for="alpha">BP Weighting (alpha)</label>
                                    <input class="form-control" type="text" name="alpha" ng-model="data.taxonomy.search.alpha" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="modelFile">Trained Saffron Model</label>
                                    <input class="form-control" type="text" name="gloveFile" ng-model="data.taxonomy.modelFile" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col col-auto">
                                    <button class="btn btn-primary" ng-click="submitConfig()">Go</button>
                                </div>
                            </div>
                        </form>
                    </span>
                </div>
            </div>
        </div>
        <div id="page_footer">
            <div>
                <a href="http://www.insight-centre.org/"><img width="81" height="40" id="insight_logo" alt="INSIGHT" src="/images/insight.png" /></a>
                <a href="http://www.nuigalway.ie/"><img width="176" height="50" id="nui_logo" alt="NUI Galway" src="/images/nuigalway.png" /></a>
                <a href="http://www.sfi.ie/"><img height="75" id="sfi_logo" alt="SFI" src="/images/sfi.png" /></a>
                <p>This resource has been funded by Science Foundation
                    Ireland under Grant No. SFI/08/CE/I1380 (Lion-2) and by Grant No. SFI/12/RC/2289 (Insight Centre for Data Analytics)</p>
                <p>&COPY; 2018 <a href="http://datascienceinstitute.ie/">Data Science Institute</a>, <a href="http://nuigalway.ie/">National University of Ireland, Galway</a></p>
            </div>
        </div>
    </div>
    <script src="/vendors/jquery.min.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/vendors/angularjs/1.5.6/angular.js"></script>
    <script src="/vendors/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="/vendors/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="/vendors/angularjs/1.5.6/angular-messages.min.js"></script>
    <script src="/vendors/angular_material/1.1.12/angular-material.min.js"></script>
    <script src="/vendors/angular_ui/0.13.3/ui-bootstrap-tpls.js"></script>
    <script>
    var saffronDatasetName = "{{name}}";
    </script>
    <script src="/js/app.js"></script>
    <script>
    angular.module('app', ['ngMaterial', 'ngMessages']).controller('AdvancedController', function($scope, $http,$interpolate) {
        $scope.data = {{config}};
        $scope.submitConfig = function() {
            var data = $scope.data;
            if (typeof(data.termExtraction.preceedingTokens) === "string") {
                data.termExtraction.preceedingTokens = data.termExtraction.preceedingTokens.split(",");
            }
            if (typeof(data.termExtraction.middleTokens) === "string") {
                data.termExtraction.middleTokens = data.termExtraction.middleTokens.split(",");
            }
            if (typeof(data.termExtraction.headTokens) === "string") {
                data.termExtraction.headTokens = data.termExtraction.headTokens.split(",");
            }
            $http({
                method: 'POST',
                url: '/execute/advanced/{{name}}',
                data: data
            }).then(function() { location.reload(); });
        };
        $scope.addFeature = function() {
            if (document.getElementById("newFeatureInput").checkValidity()) {
                var newFeat = document.getElementById("newFeatureInput").value;
                if (newFeat !== "" && $scope.data.termExtraction.features.indexOf(newFeat) < 0) {
                    $scope.data.termExtraction.features.push(newFeat);
                }
            }
        }

        $scope.removeFeature = function(feature) {
            var index = $scope.data.termExtraction.features.indexOf(feature);
            if (index >= 0) {
                $scope.data.termExtraction.features.splice(index, 1);
            }
        }

        $scope.addBlack = function() {
            if (document.getElementById("newBlacklistInput").checkValidity()) {
                var newFeat = document.getElementById("newBlacklistInput").value;
                if (newFeat !== "" && $scope.data.termExtraction.blacklist.indexOf(newFeat) < 0) {
                    $scope.data.termExtraction.blacklist.push(newFeat);
                }
            }
        }

        $scope.removeBlack = function(black) {
            var index = $scope.data.termExtraction.blacklist.indexOf(black);
            if (index >= 0) {
                $scope.data.termExtraction.blacklist.splice(index, 1);
            }
        }
    });
    </script>
</body>

</html>