<div class="infobox">
    <div id="publication_card">
        <div class="light">    
            <h2 id="publication_title">{{$ctrl.author.name}}</h2>
            <div ng-if="$ctrl.author.name_variants.length > 0">
                <b>Name Variants:</b>
                <span ng-repeat="variant in $ctrl.author.name_variant">{{variant}}</span>
        </div>
    </div>
</div>
<relatedtopics author="$ctrl.author.id"></relatedtopics>
<relatedauthors author="$ctrl.author.id"></relatedauthors>
<relateddocuments author="$ctrl.author.id"></relateddocuments>