<div style="clear: both"></div>
<div class="box" id="researchers">
    <div class="box_header">
        <p>{{$ctrl.title}}</p>
    </div>
    <div class="box_column" ng-if="$ctrl.authors.length == 0">No authors</div>

    <div class="box_column">
        <ul>
            <li ng-repeat="author in $ctrl.authors" ng-if="author.left">
                <div class="pos_researcher">{{author.pos}}</div>
                <div class="researcherbox">
                    <img src="/img/user28.png"/>
                    <a ng-href="/author/{{author.id}}" ng-title="{{author.name}}">{{author.name}}</a>
                    <!--<a class="plus" href="/acl/topic/speech_recognition/person/marl_ostendorf">+</a>-->
                </div>
            </li>
        </ul>
    </div>
</div>