<h4 class="card-title float-left">{{$ctrl.doc.name}}</h4>
<a class="float-right" ng-href="../doc_content/{{$ctrl.doc.id}}" target="_blank">
    <i class="mdi mdi-link-variant"></i> View Original Document
</a>
<div class="clearfix"></div>
<b>Authors:</b>
<a ng-repeat="author in $ctrl.doc.authors"
   ng-href="./author/{{author.id}}">{{author.name}}{{$last ? '' : ', '}}</a><br>
<span ng-if="$ctrl.doc.authors.length == 0">None<br></span>
<span ng-if="$ctrl.doc.url">Source: <a ng-href="{{$ctrl.doc.url}}">{{$ctrl.doc.url}}</a><br></span>



<br>
<relatedtopics doc="$ctrl.doc.id"></relatedtopics>