<div class="infobox">
    <div id="publication_card">
        <div class="light">    
            <h2 id="publication_title">{{$ctrl.doc.name}}</h2>
            <div>
                <b>Authors:</b>
                <a ng-repeat="author in $ctrl.doc.authors"
                   ng-href="/author/{{author.id}}">{{author.name}}{{$last ? '' : ', '}}</a>
                <span ng-if="$ctrl.doc.authors.length == 0">None</span>
            </div>
            <a ng-href="/doc_content/{{$ctrl.doc.id}}">View Original Document</a>
        </div>
    </div>
</div>
<relatedtopics doc="$ctrl.doc.id"></relatedtopics>