
<h4 class="card-title">Documents ({{$ctrl.n + 1}}-{{$ctrl.n + $ctrl.docs.length}})</h4>
<div class="row">
    <div class="col-md-10">

        <ul class="topics-list">
            <li ng-repeat="doc in $ctrl.docs">
                <a ng-href="../doc/{{doc.doc.id}}">{{doc.doc.name}}</a>
                <div class="paper_details">
                    <a ng-repeat="author in doc.doc.authors"
                       class="minor_link"
                       ng-href="../author/{{author.id}}"
                       >{{author.name}}</a>
                </div>
                <i ng-bind-html="doc.contents_highlighted"></i>

                <ul>
                    <li ng-repeat="(key, value) in doc.doc.metadata"><b>{{key}}:</b> {{value}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-1">
        <div class="float-right">

            <span ng-if="$ctrl.n > 0"  class="page-item">
                <a class="page-link" ng-click="$ctrl.docBackward()">
                    <i class="mdi mdi-chevron-left"></i>
                </a>
            </span>

            <span ng-if="$ctrl.docs.length >= 20"  class="page-item">
                <a class="page-link" ng-click="$ctrl.docForward()">
                    <i class="mdi mdi-chevron-right"></i>
                </a>
            </span>

        </div>
    </div>
</div>