<div style="clear: both"></div>
<div class="box" id="publications">
    <div class="box_header">
	<p>Documents ({{$ctrl.docs.length}})</p>
    </div>
    <div class="box_column">
        <ul>
            <li ng-repeat="doc in $ctrl.docs">
                <div class="pos">{{doc.pos}}</div>
                <div class="list_item"><a ng-href="../doc/{{doc.doc.id}}">{{doc.doc.name}}</a></div>
                <div class="paper_details">
                    <a ng-repeat="author in doc.doc.authors"
                       class="minor_link"
                       ng-href="../author/{{author.id}}"
                       >{{author.name}}</a>
                </div>
                <ul>
                    <li ng-repeat="(key, value) in doc.doc.metadata"><b>{{key}}:</b> {{value}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>