<h4 class="card-title">Documents ({{$ctrl.docs.length}})</h4>

<div class="col-md-6">

	<ul class="topics-list">
		<li ng-repeat="doc in $ctrl.docs">
			<a ng-href="../doc/{{doc.doc.id}}">{{doc.doc.name}}</a>
			<div class="paper_details">
				<a ng-repeat="author in doc.doc.authors"
				class="minor_link"
				ng-href="../author/{{author.id}}"
				>{{author.name}}</a>
			</div>

			<ul>
				<li ng-repeat="(key, value) in doc.doc.metadata"><b>{{key}}:</b> {{value}}</li>
			</ul>
		</li>
	</ul>

</div>