<div ng-if="$ctrl.topics.length > 0">
	<div class="clearfix"></div>

	<div class="row mx-3" ng-if="$ctrl.topics.length == 0">No topics</div>

	<div class="row">
	    <div class="col-md-12">
	    	<table class="table table-striped">
	    		<thead >
	    			<tr>
	    				<th><span class="h6">Topic</span></th>
	    				<th><span class="h6">Hierarchy</span></th>
	    				<th><span class="h6">Action</span></th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat-start="topic in $ctrl.topics" ng-if="$ctrl.message.topic === topic.topic_id" ng-cloak>
	    				<td ng-if="$ctrl.message.type=='error'" class="alert alert-danger alert-dismissible" colspan="3">
	    					<a href="#" ng-click="$ctrl.message.topic = null" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  			{{$ctrl.message.text}}
				  		</td>
				  		<td ng-if="$ctrl.message.type=='warning'" class="alert alert-warning alert-dismissible" colspan="3">
				  			<a href="#" ng-click="$ctrl.message.topic = null" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  			{{$ctrl.message.text}}
				  		</td>
				  		<td ng-if="$ctrl.message.type=='success'" class="alert alert-success alert-dismissible" colspan="3">
				  			<a href="#" ng-click="$ctrl.message.topic = null" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  			{{$ctrl.message.text}}
				  		</td>
	    			</tr>
	    			<tr ng-repeat-end ng-class="$ctrl.message !== null && $ctrl.message.topic === topic.topic_id? $ctrl.message.type : '' ">
	    				<td>{{topic.topic_string}}</td>
	    				<td>{{topic.branch}}<span ng-if="topic.branch !== ''"> > </span>{{topic.topic_string}}</td>
	    				<td ng-if="topic === $ctrl.topics[0]">
	    					<span style="margin-left:15px">No action</span>
	    				</td>
	    				<td ng-if="topic !== $ctrl.topics[0]">
	    					<div class="actions" ng-if="$ctrl.activeTopic !== topic.topic_id && topic.status == 'none'">
	    						<a href="#" class="accept-action" ng-click="changeParentStatus(topic,'accepted')">
				                	<i class="mdi mdi-checkbox-marked"></i>Approve
				                </a>
				                <a href="#" class="edit-action" ng-click="$ctrl.activeTopic = topic.topic_id">
				                	<i class="mdi mdi-pencil"></i>Edit Parent
				                </a>
	    					</div>

	    					<div class="actions" ng-if="topic.status=='accepted'">
	    						<span class="badge badge-success">Approved</span>
		    					<a href="#" class="reject-action" ng-click="changeParentStatus(topic,'none')">
				                	<i class="mdi mdi-close-box"></i>Cancel
				                </a>
	    					</div>

	    					<div ng-if="$ctrl.activeTopic === topic.topic_id">
	    						<div class="input-group input-group-sm" ng-init="$ctrl.new_parent = topic.parent">
		    						<select class="custom-select" ng-model="$ctrl.new_parent" ng-options="parent as parent.collapsed_branch disable when (parent.branch.includes(topic.topic_string) || parent.topic_string === topic.topic_string) for parent in $ctrl.topics track by parent.topic_id "></select>
		    							<div class="input-group-append">
		    								<button class="btn btn-primary" type="button" ng-click="changeParent(topic,$ctrl.new_parent)">Save</button>
		    							</div>
		    					</div>
	    					</div>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </div>

	</div>

	<div class="editing-warning bg-warning" style="top:0"> 
		<div class="navbar-brand-wrapper d-flex align-items-center" style="float:left">
            <img style="height:40px;" src="/images/logo.svg" alt="logo"/>
        </div>
		<span class="h5">Review mode</span>
		<a href="../edit" class="btn btn-primary" role="button" aria-pressed="true" style="float:right">
			Continue
		</a>
	</div>
	<div class="editing-warning bg-warning" style="bottom:0">
		&nbsp;
	</div>
</div>