<div ng-if="$ctrl.topics">
	<div class="row">

		<div class="col-md-12">
			{{$ctrl.message}}
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row mx-3" ng-if="$ctrl.topics.length == 0">No topics</div>

	<div class="row">

	    <div class="col-md-12" ng-show="$ctrl.topics.length > 0 ">
	        <input type="checkbox" ng-checked="checkedAll" ng-click="checkAll(this)"> {{checkedAll && 'Deselect All' || 'Select All'}}
	        <!--<input type="checkbox" ng-model="checkedAll"> {{checkedAll && 'Deselect All' || 'Select All'}}-->
	    </div>

	    <div class="col-md-12">
	        <ul class="topics-list edit">
	            <li ng-repeat="topic in $ctrl.topics">
	                <input type="checkbox" ng-checked="checkedAll" ng-model="$ctrl.topics[$index].checked" ng-click="checkStatus(this)">

	                <span ng-if="topic.status=='accepted'" class="badge badge-success">{{topic.status}}</span>
	                <span ng-if="topic.status=='rejected'" class="badge badge-danger">{{topic.status}}</span>

	                <span class="topic-link" ng-href="../topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}}</span>

	                <span class="actions float-right">
	                	<a href="#" class="accept-action" ng-click="acceptTopics($event, topic)">
		                	<i class="mdi mdi-checkbox-marked"></i>Accept
		                </a>		                
		                <a href="#" class="reject-action" ng-click="rejectTopics($event, topic)">
		                    <i class="mdi mdi-close-box"></i>Reject
		                </a>
		            </span>
	            </li>
	        </ul>
	    </div>

	</div>
	<div class="row" ng-show="$ctrl.topics.length > 0 ">
	    <div class="col-md-12">
	        <button style="margin: 20px" class="btn btn-success float-right" ng-click="acceptTopics($event)">Accept {{$ctrl.checkedStatus && 'Selected' || 'All'}}</button>
	        <button style="margin: 20px" class="btn btn-danger float-right" ng-click="rejectTopics($event)">Reject  {{$ctrl.checkedStatus && 'Selected' || 'All'}}</button>
	    </div>
	</div>



	<div class="editing-warning bg-warning" style="top:0"> 
		Editing mode
		<a href="../" class="btn btn-danger" role="button" aria-pressed="true" style="float:right">
			<i class="mdi mdi-close"></i> Cancel
		</a>
		<button ng-click="saveTopics()" class="btn btn-primary" style="float:right">
			Save
		</button>
	</div>
	<div class="editing-warning bg-warning" style="bottom:0">
		&nbsp;
	</div>
</div>