<div ng-if="$ctrl.terms.length > 0">
	<div class="clearfix"></div>

	<div class="row mx-3" ng-if="$ctrl.terms.length == 0">No terms</div>

	<div class="row">
	    <div class="col-md-12">
	    	<table class="table  table-hover">
	    		<thead class="thead-light ">
	    			<tr>
	    				<th><span class="h6">Term</span></th>
	    				<th><span class="h6">Hierarchy</span></th>
	    				<th><span class="h6">Action</span></th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat-start="term in $ctrl.terms" ng-if="$ctrl.message.term === term.term_id" ng-cloak>
	    				<td ng-if="$ctrl.message.type=='error'" class="alert alert-danger alert-dismissible" colspan="3">
	    					<a href="#" ng-click="$ctrl.message.term = null" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  			{{$ctrl.message.text}}
				  		</td>
				  		<td ng-if="$ctrl.message.type=='warning'" class="alert alert-warning alert-dismissible" colspan="3">
				  			<a href="#" ng-click="$ctrl.message.term = null" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  			{{$ctrl.message.text}}
				  		</td>
				  		<td ng-if="$ctrl.message.type=='success'" class="alert alert-success alert-dismissible" colspan="3">
				  			<a href="#" ng-click="$ctrl.message.term = null" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  			{{$ctrl.message.text}}
				  		</td>
	    			</tr>
	    			<tr ng-repeat-end ng-class="$ctrl.message !== null && $ctrl.message.term === term.term_id? $ctrl.message.type : '' ">
	    				<td>{{term.term_string}}</td>
	    				<td>{{term.branch}}<span ng-if="term.branch !== ''"> > </span>{{term.term_string}}</td>
	    				<td ng-if="term === $ctrl.terms[0]">
	    					<span style="margin-left:15px">No action</span>
	    				</td>
	    				<td ng-if="term !== $ctrl.terms[0]">

							<div class="actions"  ng-if="$ctrl.activeterm !== term.term_id">

							    <button  href="#"  class="btn btn-outline-dark btn-sm accept-action approve-btn" ng-if="$ctrl.activeterm !== term.term_id && term.status == 'none'"  ng-click="changeParentStatus(term,'accepted')"> 
							         Approve 
							     </button>

							    <button class="btn btn-success btn-sm approve-btn accept-action" ng-if="term.status == 'accepted'" ng-click="changeParentStatus(term,'none')">
							       Approved
							    </button>
							  <!--   <a href="#" class="btn btn-outline-dark btn-sm edit-action" ng-click="$ctrl.activeterm = term.term_id">
							        <i class="mdi mdi-pencil"></i> Edit Parent
							    </a> -->

					    	  <a href="#" class="btn btn-outline-dark btn-sm edit-action" ng-click="$ctrl.activeterm = term.term_id" ng-if="term.status=='none'">
					        	<i class="mdi mdi-pencil"></i> Edit Parent
					    		</a>
							</div>



					
															

	    					<div ng-if="$ctrl.activeterm === term.term_id">
	    						<div class="input-group input-group-sm" ng-init="$ctrl.new_parent = term.parent">
		    						<select class="custom-select" ng-model="$ctrl.new_parent" ng-options="parent as parent.collapsed_branch disable when (parent.branch.includes(term.term_string) || parent.term_string === term.term_string) for parent in $ctrl.terms track by parent.term_id "></select>
		    							<div class="input-group-append">
		    								<button class="btn btn-primary btn-sm" type="button" ng-click="changeParent(term,$ctrl.new_parent)">Save</button>
		    							</div>
		    					</div>
	    					</div>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </div>

	</div>

	<div class="editing-warning bg-warning" style="top:0"> 
		<div class="navbar-brand-wrapper d-flex align-items-center" style="float:left">
            <img style="height:40px;" src="/images/logo.svg" alt="logo"/>
        </div>
		<span class="h5">Review mode</span>
		<a href="../edit" class="btn btn-primary" role="button" aria-pressed="true" style="float:right">
			Continue
		</a>
		<a href="../edit" class="btn btn-secondary" role="button" aria-pressed="true" style="float:right">
			<!-- <i class="mdi mdi-close"></i> --> Cancel
		</a>
	</div>
	<div class="editing-warning bg-warning" style="bottom:0">
		&nbsp;
	</div>
</div>