<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Saffron - Extracting the Valuable Threads of Expertise</title>

        <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/vendors/boostrap/bootstrap.min.css">

        <link rel="shortcut icon" href="/images/favicon.png" />
    </head>
    <body ng-app="app">
        <div class="container-scroller">

            <header></header>

            <div class="container-fluid page-body-wrapper">

                <div class="main-panel">
                    <div class="content-wrapper">

                        <h4>New Saffron Analysis</h4>
                        <form name="runForm" action="/new">
                            <div class="form-group row">
                                <label for="newRunName" class="col-sm-2 col-form-label">Identifier</label>
                                <div class="input-group mb-3 col-sm-10">
                                    <input type="text" pattern="[A-Za-z][A-Za-z0-9_-]*" class="form-control"
                                           id="newRunName" name="name" placeholder="saffron-run-id" required="required">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary" >Go</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br><br>

                        <div class="row" ng-app="app" ng-controller="runs" ng-cloak>
                            <!-- Start instances your loop here -->

                            <div class="col-md-4 bg-gradient stretch-card grid-margin" ng-repeat="p in parents track by $index">
                                    <div class="card card-img-holder text-white">
                                            <div class="card-body">
                                                            <button class="mdi mdi-delete mdi-24px float-right" ng-click="deleteRun($event, p.id)"></button>
                                                            <!--                                                    <img src="images/circle.svg" class="card-img-absolute" alt="circle-image"/>-->
                                                    <a class="text-white" ng-href="/{{p.id}}/"><h2 class="font-weight-normal mb-3">{{p.id}}</h2></a>
                                                            <!-- optional FontAwesome icon -->
                                            </div>
                                    </div>
                            </div>
                        </div>
                        <br><br>

                        <footer class="footer">
                            <div class="text-center">
                                <a href="http://www.insight-centre.org/"><img width="81" height="40" id="insight_logo" alt="INSIGHT" src="/images/insight.png"></a>
                                <a href="http://www.nuigalway.ie/"><img width="176" height="50" id="nui_logo" alt="NUI Galway" src="/images/nuigalway.png"></a>
                                <a href="http://www.sfi.ie/"><img height="75" id="sfi_logo" alt="SFI" src="/images/sfi.png"></a>
                                <p>This resource has been funded by Science Foundation
                                    Ireland under Grant No. SFI/08/CE/I1380 (Lion-2) and by Grant No. SFI/12/RC/2289 (Insight Centre for Data Analytics)</p>
                                <p>&copy; <script>document.write(''+new Date().getFullYear());</script> <a href="http://datascienceinstitute.ie/">Data Science Institute</a>, <a href="http://nuigalway.ie/">National University of Ireland, Galway</a></p>
                            </div>
                        </footer>

                    </div>

                </div>

            </div>

            <script src="/vendors/jquery.min.js"></script>
            <script src="/js/misc.js"></script>

            <script src="/vendors/angularjs/1.5.6/angular.js"></script>
            <script src="/vendors/angularjs/1.5.6/angular-animate.min.js"></script>
            <script src="/vendors/angularjs/1.5.6/angular-aria.min.js"></script>
            <script src="/vendors/angularjs/1.5.6/angular-messages.min.js"></script>
            <script src="/vendors/angular_material/1.1.12/angular-material.min.js"></script>
            <script src="/vendors/angular_ui/0.13.3/ui-bootstrap-tpls.js"></script>
            <!--<script>-->

                <!--var app = angular.module('app', []);-->
                <!--app.controller('controller', function($scope, $http) {-->

                    <!--$scope.parents = parents;-->
                    <!--$scope.del_site = function(id) {-->
                        <!--console.log("HERE")-->
                        <!--if(confirm("Are you sure you want to delete this run?")) {-->
                            <!--var index = $scope.parents.indexOf(id);-->
                            <!--if(index >= 0) {-->
                                <!--$scope.parents.splice(index, 1);-->
                            <!--}-->
                            <!--$http.get("/api/v1/" + parents);-->
                        <!--}-->
                    <!--};-->
                <!--});-->
            <!--</script>-->
            <script>
                var term = {};
                var saffronDatasetName = "{{name}}";
            </script>
            <script src="/js/app.js"></script>

    </body>

</html>
