<div ng-if="$ctrl.term"> <!-- trick to wait -->
	<form method="post" class="form-vertical" enctype="multipart/form-data" ng-show="!editModeEnabled">
		<div class="form-group column">
			<!--<div class="rerun  d-md-block">-->
				<!--<form class="d-flex align-items-center h-100">-->
					<!--<div class="breadcrumb-item">-->
						<!--<div class="input-group-prepend bg-transparent">-->

						<!--</div>-->
						<!--<button type="button" name="query" ng-click="reRun(this)" class="form-control bg-transparent border-10">-->
							<!--<span class="mdi mdi-menu">Re-run</span>-->
						<!--</button>-->
					<!--</div>-->
				<!--</form>-->
			<!--</div>-->
		</div>
	</form>
<h4>
	<span>{{term_name}}</span>
	<!--<small>-->
		<!--<a class="edit-link" href="#"-->
		   <!--ng-click="editModeEnabled=(!editModeEnabled); $event.preventDefault()"-->
		   <!--ng-class="editModeEnabled ? 'bg-danger':'bg-info'">-->
			<!--<span ng-show="!editModeEnabled"><i class="mdi mdi-pencil"></i> Edit</span>-->
			<!--<span ng-show="editModeEnabled" ng-click="term_name = $ctrl.term.termString"><i class="mdi mdi-close"></i> Close</span>-->
		<!--</a>-->
	<!--</small>-->
</h4>

<form ng-show="editModeEnabled">
	<div class="form-group row">
		<label for="termName" class="col-sm-2 col-form-label">Name</label>
		<div class="col-sm-10">
			<input type="text" disabled id="termName" class="form-control"
			  ng-model="term_name"
			  ng-init="term_name=$ctrl.term.termString">
		</div>
	</div>
	<div class="form-group row">
		<label for="termParent" class="col-sm-2 col-form-label">Parent</label>
		<div class="col-sm-10">
			<select id="termParent" class="form-control"
					ng-model="$ctrl.parent_id"
					>
				<option>Please select parent</option>
				<option
				ng-repeat="term in $ctrl.terms | orderBy : 'term_string'"
				value="{{term.term_id}}">
				{{term.term_string}}
				</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-danger float-left" ng-click="ApiDeleteTerm($ctrl.term.termString, $event) ">Delete Term</button>
			<button type="submit" class="btn btn-primary float-right"
					ng-click="
					 ApiSaveTerm(
					 	$ctrl.term.termString,
					 	term_name,
					 	$ctrl.current_parent_id,
					 	$ctrl.parent_id,
					 	$event);
					 editModeEnabled=(editModeEnabled ? false : true)">
				Save Changes</button>
		</div>
	</div>
</form>

<span ng-show="$ctrl.term.dbpedia_url" class="col-md-3">
	<i class="mdi mdi-database"></i>
	<b>DBpedia:</b>
	<a ng-href="{{$ctrl.term.dbpedia_url}}">{{$ctrl.term.dbpedia_url}}</a>
</span>
<span class="col-md-3">
	<i class="mdi mdi-trophy"></i> 
	<b>Score:</b> {{$ctrl.term.score.toFixed(3)}}
</span>
<span class="col-md-3">
	<i class="mdi mdi-pound-box"></i> {{$ctrl.term.occurrences}} occurrences in {{$ctrl.term.matches}} documents
</span>

<div class="clearfix"></div>
<br>

<childterms term="$ctrl.term.termString"></childterms>
<br>
<relatedterms term="$ctrl.term.termString"></relatedterms>
<br>
<relatedauthors term="$ctrl.term.termString"></relatedauthors>
<br>
<relateddocuments term="$ctrl.term.termString"></relateddocuments>

<div ng-show="editModeEnabled" class="editing-warning bg-warning" style="top:0"> Editing mode <button ng-click="editModeEnabled=(!editModeEnabled); $event.preventDefault()" ng-show="editModeEnabled" class="btn btn-danger" style="float:right"><i class="mdi mdi-close"></i> Close</button></div>
<div ng-show="editModeEnabled" class="editing-warning bg-warning" style="bottom:0"> &nbsp;</div>
</div>