<h4 class="card-title float-left">Top Terms</h4>
<div class="float-right">

	<span ng-if="$ctrl.n > 0"  class="page-item">
		<a class="page-link" ng-click="$ctrl.termBack()">
			<i class="mdi mdi-chevron-left"></i>
		</a>
	</span>

	<span ng-if="$ctrl.terms.length >= 30"  class="page-item">
		<a class="page-link" ng-click="$ctrl.termForward()">
			<i class="mdi mdi-chevron-right"></i>
		</a>
	</span>
	
</div>

<div class="clearfix"></div>

<div class="row">

	<div class="col-md-12">
		<ul class="terms-list">
			<li ng-repeat="term in $ctrl.terms">
				<a ng-href="./term/{{term.term_string}}" ng-title="term.term_string">{{term.term_string}}</a>
			</li>
		</ul>
	</div>
</div>