<div style="clear: both"></div>
<div class="box" id="topics">
    <div class="box_header">
        <p>Top Topics</p>
        <p ng-if="$ctrl.topics.length >= 30"><a ng-click="$ctrl.topicForward()">&gt;&gt;</a></p>
        <p ng-if="$ctrl.n > 0"><a ng-click="$ctrl.topicBack()">&lt;&lt;</a></p>
    </div>

    <div class="box_column">
	<ul>
            <li ng-repeat="topic in $ctrl.topics" ng-if="topic.pos <= $ctrl.n + 15">
		<div class="pos">{{topic.pos}}</div>
                <a ng-href="./topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}}</a>
            </li>
        </ul>
    </div>
    <div class="box_column">
	<ul>
            <li ng-repeat="topic in $ctrl.topics" ng-if="topic.pos > $ctrl.n + 15">
		<div class="pos">{{topic.pos}}</div>
                <a ng-href="./topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}}</a>
            </li>
        </ul>
    </div>
</div>