<h4 class="card-title float-left">Top Topics</h4>
<div class="float-right">

	<span ng-if="$ctrl.n > 0"  class="page-item">
		<a class="page-link" ng-click="$ctrl.topicBack()">
			<i class="mdi mdi-chevron-left"></i>
		</a>
	</span>

	<span ng-if="$ctrl.topics.length >= 30"  class="page-item">
		<a class="page-link" ng-click="$ctrl.topicForward()">
			<i class="mdi mdi-chevron-right"></i>
		</a>
	</span>
	
</div>

<div class="clearfix"></div>

<div class="row">

	<div class="col-md-12">
		<ul class="topics-list score-gradient-primary">
			<li ng-repeat="topic in $ctrl.topics">
<!-- 				<a ng-href="./topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{topic.score}} </a> -->
				<a ng-href="./topic/{{topic.topic_string}}" ng-title="topic.topic_string"> 
				<span style="float: left;">{{topic.topic_string}} </span>
				<span style="float: right;">{{topic.score}} </span>
				
				</a>
			</li>
		</ul>
	</div>
</div>