<h4 class="card-title">
    {{$ctrl.title}}
    <!--<small ng-hide="$ctrl.topics.length === 0">-->
        <!--<a class="edit-link" href="#"-->
           <!--ng-click="editModeEnabled=(!editModeEnabled); $event.preventDefault()"-->
           <!--ng-class="editModeEnabled ? 'bg-danger':'bg-info'">-->
            <!--<span ng-show="!editModeEnabled"><i class="mdi mdi-pencil"></i> Edit</span>-->
            <!--<span ng-show="editModeEnabled"><i class="mdi mdi-close"></i> Close</span>-->
        <!--</a>-->
    <!--</small>-->
</h4>

<style> {{ editModeEnabled === true ? '.topic-link{width:100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-flex;}' : '' }}</style>

<div class="float-right">

    <span ng-if="$ctrl.n > 0" class="page-item">
        <a class="page-link" ng-click="$ctrl.topicBack()">
            <i class="mdi mdi-chevron-left"></i>
        </a>
    </span>

    <span ng-if="$ctrl.topics.length >= 30" class="page-item">
        <a class="page-link" ng-click="$ctrl.topicForward()">
            <i class="mdi mdi-chevron-right"></i>
        </a>
    </span>
    
</div>




<div class="clearfix"></div>

<div class="row mx-3" ng-if="$ctrl.topics.length == 0">No topics</div>

<div class="row">

    <div class="col-md-12" ng-show="$ctrl.topics.length > 0 && editModeEnabled">
        <input type="checkbox" ng-click="checkAll(this)"> {{checkedAll && 'Deselect All' || 'Select All'}}
        <!--<input type="checkbox" ng-model="checkedAll"> {{checkedAll && 'Deselect All' || 'Select All'}}-->
    </div>

    <div class="col-md-6">
        <ul class="topics-list">
            <li ng-repeat="topic in $ctrl.topics" ng-if="topic.left">
                <input type="checkbox"
                  ng-show="editModeEnabled"
                  ng-checked="checkedAll"
                  ng-model="$ctrl.topics[$index].checked"
                  ng-click="checkStatus(this)">

                <a class="topic-link" ng-href="../topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}}</a>
                <div class="progress" ng-if="topic.score">
                    <div class="progress-bar" role="progressbar" ng-style="{width: topic.score}" ng-bind="topic.score"></div>
                </div>
                <a href="#" ng-show="editModeEnabled" class="reject float-right"
                   ng-click="ApiRejectTopics($event, topic)">
                    <i class="mdi mdi-close-box"></i>
                </a>
                <a href="#" ng-show="editModeEnabled" class="accept float-right"
                  ng-click="ApiAcceptTopics($event, topic)"><i class="mdi mdi-checkbox-marked"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <ul class="topics-list">
            <li ng-repeat="topic in $ctrl.topics" track by $index ng-if="topic.right">
                <input type="checkbox"
                  ng-show="editModeEnabled"
                  ng-checked="checkedAll"
                  ng-model="$ctrl.topics[$index].checked"
                  ng-click="checkStatus(this)">

                <a class="topic-link" ng-href="../topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}}</a>
                <div class="progress" ng-if="topic.score">
                    <div class="progress-bar" role="progressbar" ng-style="{width: topic.score}" ng-bind="topic.score"></div>
                </div>
                <a href="#" ng-show="editModeEnabled" class="reject float-right"
                   ng-click="ApiRejectTopics($event, topic)">
                    <i class="mdi mdi-close-box"></i>
                </a>
                <a href="#" ng-show="editModeEnabled" class="accept float-right"
                  ng-click="ApiAcceptTopics($event, topic)"><i class="mdi mdi-checkbox-marked"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="row" ng-show="$ctrl.topics.length > 0 && editModeEnabled">
    <div class="col-md-12">
        <button style="margin: 20px" class="btn btn-success float-right" ng-click="ApiAcceptTopics($event)">Accept {{$ctrl.checkedStatus && 'Selected' || 'All'}}</button>
        <button style="margin: 20px" class="btn btn-danger float-right" ng-click="ApiRejectTopics($event)">Reject  {{$ctrl.checkedStatus && 'Selected' || 'All'}}</button>
    </div>
</div>

<div ng-show="editModeEnabled" class="editing-warning bg-warning" style="top:0"> Editing mode <button ng-click="editModeEnabled=(!editModeEnabled); $event.preventDefault()" ng-show="editModeEnabled" class="btn btn-danger" style="float:right"><i class="mdi mdi-close"></i> Close</button></div>
<div ng-show="editModeEnabled" class="editing-warning bg-warning" style="bottom:0"> &nbsp;</div>
