<h4>
	<span>{{topic_name}}</span>
	<small>
		<a class="edit-link" href="#"
		   ng-click="editModeEnabled=(!editModeEnabled); $event.preventDefault()"
		   ng-class="editModeEnabled ? 'bg-danger':'bg-info'">
			<span ng-show="!editModeEnabled"><i class="mdi mdi-pencil"></i> Edit</span>
			<span ng-show="editModeEnabled" ng-click="topic_name = $ctrl.topic.topic_string"><i class="mdi mdi-close"></i> Close</span>
		</a>
	</small>
</h4>

<form ng-show="editModeEnabled">
	<div class="form-group row">
		<label for="topicName" class="col-sm-2 col-form-label">Name</label>
		<div class="col-sm-10">
			<input type="text" id="topicName" class="form-control"
			  ng-model="topic_name"
			  ng-init="topic_name=$ctrl.topic.topic_string">
		</div>
	</div>
	<div class="form-group row">
		<label for="topicParent" class="col-sm-2 col-form-label">Parent</label>
		<div class="col-sm-10">
			<select id="topicParent" class="form-control"
					ng-model="$ctrl.parent_id"
					>
				<option>Please select parent</option>
				<option
				ng-repeat="topic in $ctrl.topics | orderBy : 'topic_string'"
				value="{{topic.topic_id}}">
				{{topic.topic_string}}
				</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-danger float-left" ng-click="ApiDeleteTopic($ctrl.topic.topic_string, $event) ">Delete Topic</button>
			<button type="submit" class="btn btn-primary float-right"
					ng-click="
					 ApiSaveTopic($ctrl.saffronDatasetName + '_' + $ctrl.topic.topic_string, topic_name, $ctrl.current_parent_id, $ctrl.parent_id, $event);
					 editModeEnabled=(editModeEnabled ? false : true)">
				Save Changes</button>
		</div>
	</div>
</form>


<span ng-show="$ctrl.topic.dbpedia_url" class="col-md-3">
	<i class="mdi mdi-database"></i>
	<b>DBpedia:</b>
	<a ng-href="{{$ctrl.topic.dbpedia_url}}">{{$ctrl.topic.dbpedia_url}}</a>
</span>
<span class="col-md-3">
	<i class="mdi mdi-trophy"></i> 
	<b>Score:</b> {{$ctrl.topic.score.toFixed(3)}}
</span>
<span class="col-md-3">
	<i class="mdi mdi-pound-box"></i> {{$ctrl.topic.occurrences}} occurrences in {{$ctrl.topic.matches}} documents
</span>

<div class="clearfix"></div>
<br>

<childtopics topic="$ctrl.topic.topic_string"></childtopics>
<br>
<relatedtopics topic="$ctrl.topic.topic_string"></relatedtopics>
<br>
<relatedauthors topic="$ctrl.topic.topic_string"></relatedauthors>
<br>
<relateddocuments topic="$ctrl.topic.topic_string"></relateddocuments>

<div ng-show="editModeEnabled" class="editing-warning bg-warning" style="top:0"> Editing mode</div>
<div ng-show="editModeEnabled" class="editing-warning bg-warning" style="bottom:0"> &nbsp;</div>
