<div style="clear: both"></div>
<div class="box" id="topics">
    <div class="box_header"><p>{{$ctrl.title}}</p></div>
    <div class="box_column" ng-if="$ctrl.topics.length == 0">No topics</div>

    <div class="box_column">
        <ul>
            <li ng-repeat="topic in $ctrl.topics" ng-if="topic.left">
                <div class="pos">{{topic.pos}}</div>
                <a ng-href="/topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}}</a>
            </li>
        </ul>
    </div>
    <div class="box_column">
        <ul>
            <li ng-repeat="topic in $ctrl.topics" ng-if="topic.right">
                <div class="pos">{{topic.pos}}</div>
                <a ng-href="/topic/{{topic.topic_string}}" ng-title="topic.topic_string">{{topic.topic_string}}</a>
            </li>
        </ul>
    </div>
</div>