philosophy/
console_out.log
atr4s/console_out.log
/documentindex/target/
/taxonomyextraction/target/
/domainmodelling/target/
/termextraction/target/
/topicextraction/target/
/domainmodelling/models/
/domainmodelling/index/
/domainmodelling/output/
/domain/target/
/domain/out
/domain/models/
/topic/target/
/topic/out
/taxonomy/target/
/taxonomy/index/
/taxonomy/out
/data/target/
tmp*
/models/
/gate
/authors/target/
target
*.swp
/ngrams
/taxonomy/nbproject/
/atr4s/nbproject/
/topic/nbproject/
/documentindex/nbproject/
examples/index
derby.log
metastore_db
out
models.tar.bz2
examples2
state-of-the-union
web/examples
web/john.mccr.ae
/term/nbproject/
web/data
/benchmarks/nbproject/