/documentindex/target/
/taxonomyextraction/target/
/domainmodelling/target/
/termextraction/target/
/topicextraction/target/
/domainmodelling/models/
/domainmodelling/index/
/domainmodelling/output/
/domain/target/
/domain/out
/domain/models/
/topic/target/
/topic/out
/taxonomy/target/
/taxonomy/index/
/taxonomy/out
/data/target/
tmp*
/models/
/gate
/authors/target/