models/ga-bio-all.bin filter=lfs diff=lfs merge=lfs -text
models/ga-pos-merged.bin filter=lfs diff=lfs merge=lfs -text
models/ga-pos-merged-bio.bin filter=lfs diff=lfs merge=lfs -text
models/en-pos-maxent.bin filter=lfs diff=lfs merge=lfs -text
models/en-token.bin filter=lfs diff=lfs merge=lfs -text
models/dbpedia.db filter=lfs diff=lfs merge=lfs -text
models/config-ga.json filter=lfs diff=lfs merge=lfs -text
models/config.json filter=lfs diff=lfs merge=lfs -text
models/default.json filter=lfs diff=lfs merge=lfs -text
models/svm filter=lfs diff=lfs merge=lfs -text
models/svd.ave filter=lfs diff=lfs merge=lfs -text
models/svd.minMax filter=lfs diff=lfs merge=lfs -text
models/en-lemmatizer.dict.txt filter=lfs diff=lfs merge=lfs -text
models/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
