{
    "stopwords": "/home/jmccrae/projects/new-saffron/models/stopwords/english",
    "tokenizerModel": "/home/jmccrae/projects/new-saffron/models/en-token.bin",
    "posModel": "/home/jmccrae/projects/new-saffron/models/en-pos-maxent.bin",
    "chunkModel": "/home/jmccrae/projects/new-saffron/models/en-chunker.bin",
    "sentModel": "/home/jmccrae/projects/new-saffron/models/en-sent.bin"
}
