@media (min-width: 992px){
.menu-boxed, .content-wrapper {
    width: 80% !important;
    margin: auto;
}
}
.page-body-wrapper {
	min-height: calc(100vh - 70px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 70px;
}

@media (min-width: 992px){
  .search-field{margin-left:auto}
}
.form-control{display:block;width:100%;padding:0.875rem 1.375rem;font-size:1rem;line-height:1;color:#495057;background-color:#ffffff;background-clip:padding-box;border:1px solid #ced4da;border-radius:2px;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out}
@media screen and (prefers-reduced-motion: reduce){
  .form-control{transition:none}
}
.form-control::-ms-expand{background-color:transparent;border:0}
.form-control:focus{color:#495057;background-color:#fff;border-color:#80bdff;outline:0;box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.25)}
.form-control::placeholder{color:#c9c8c8;opacity:1}
.form-control:disabled{background-color:#e9ecef;opacity:1}
.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%}
.input-group > .form-control{position:relative;flex:1 1 auto;width:1%;margin-bottom:0}
.input-group > .form-control:focus{z-index:3}
.input-group > .form-control:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}
.input-group-prepend{display:flex}
.input-group-prepend{margin-right:-1px}
.input-group-text{display:flex;align-items:center;padding:0.875rem 1.375rem;margin-bottom:0;font-size:1rem;font-weight:400;line-height:1;color:#495057;text-align:center;white-space:nowrap;background-color:#e9ecef;border:1px solid #ced4da;border-radius:2px}
.input-group > .input-group-prepend > .input-group-text{border-top-right-radius:0;border-bottom-right-radius:0}
.nav-link{display:block;padding:0.5rem 1rem}
.nav-link:hover,.nav-link:focus{text-decoration:none;}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:0.5rem 1rem}
.navbar-brand{display:inline-block;padding-top:0.3125rem;padding-bottom:0.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}
.navbar-brand:hover,.navbar-brand:focus{text-decoration:none}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-toggler{padding:0.25rem 0.75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:0.25rem}
.navbar-toggler:hover,.navbar-toggler:focus{text-decoration:none}
.navbar-toggler:not(:disabled):not(.disabled){cursor:pointer}
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {display: none}
.navbar.default-layout-navbar .navbar-brand-wrapper .brand-logo-mini img {
  width: calc(70px - 50px);
  max-width: 100%;
  height: 28px;
  margin: auto;
}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0, 0, 0, 0.125);border-radius:0.3125rem}
.card-body{flex:1 1 auto;padding:1.25rem}
.bg-transparent{background-color:transparent!important}
.border-0{border:0!important}

.d-block{display:block!important}
.d-flex{display:flex!important}
@media (min-width: 576px){
  .d-sm-inline-block{display:inline-block!important}
  .d-sm-flex{display:flex!important}
}
@media (min-width: 768px){
  .d-md-block{display:block!important}
}
@media (min-width: 992px){
  .d-lg-none{display:none!important}
  .d-lg-block{display:block!important}
}
.flex-row{flex-direction:row!important}
.justify-content-center{justify-content:center!important}
.align-items-center{align-items:center!important}
.align-items-stretch{align-items:stretch!important}
.align-self-center{align-self:center!important}
@media (min-width: 576px){
  .justify-content-sm-between{justify-content:space-between!important}
}
.float-right{float:right!important}
.float-none{float:none!important}
@media (min-width: 576px){
  .float-sm-right{float:right!important}
}
.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030}
.h-100{height:100%!important}
.mt-1{margin-top:0.25rem!important}
.mb-3{margin-bottom:1rem!important}
.p-0{padding:0!important}
@media (min-width: 576px){
  .mt-sm-0{margin-top:0!important}
}
.text-center{text-align:center!important}
@media (min-width: 576px){
  .text-sm-left{text-align:left!important}
}
.font-weight-normal{font-weight:400!important}
.text-white{color:#ffffff!important}
.text-danger{color:#fe7c96!important}
.text-muted{color:#9c9fa6!important}
@media print{
  *,*::before,*::after{text-shadow:none!important;box-shadow:none!important}
  a:not(.btn){text-decoration:underline}
  img{page-break-inside:avoid}
  p,h2{orphans:3;widows:3}
  h2{page-break-after:avoid}
  body{min-width:992px!important}
  .navbar{display:none}
	.table{border-collapse:collapse!important}
	.table td,.table th{background-color:#ffffff!important}
	.table-bordered th,.table-bordered td{border:1px solid #dee2e6!important}
}
body{padding:0;margin:0;overflow-x:hidden}
.form-control,.form-control:focus{-webkit-box-shadow:none;-moz-box-shadow:none}
.form-control{box-shadow:none}
.form-control:focus{outline:0;box-shadow:none}
a,div,h2,p,span{text-shadow:none}
[type=button]:focus,a:active,a:focus,a:visited,button::-moz-focus-inner{outline:0}
input,.form-control:focus,input:focus,button:focus{outline:none;outline-width:0;outline-color:transparent;box-shadow:none;outline-style:none}
a,a:active,a:checked,a:focus,a:hover,a:visited,body,button,button:active,button:hover,button:visited,div,input,input:active,input:focus,input:hover,input:visited{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
button,button:active,button:checked,button:focus,button:hover,button:visited{outline:0;outline-offset:0}
a:focus,input:focus{border-color:transparent;outline:none}
.bg-gradient-primary, .row .bg-gradient:nth-of-type(1n) > div {background:linear-gradient(to right, #da8cff, #9a55ff)}
.bg-gradient-secondary, .row .bg-gradient:nth-of-type(2n) > div {background:linear-gradient(to right, #e7ebf0, #868e96)}
.bg-gradient-success, .row .bg-gradient:nth-of-type(3n) > div {background:linear-gradient(to right, #84d9d2, #07cdae)}
.bg-gradient-info, .row .bg-gradient:nth-of-type(4n) > div {background:linear-gradient(to right, #90caf9, #047edf 99%)}
.bg-gradient-warning, .row .bg-gradient:nth-of-type(5n) > div {background:linear-gradient(to right, #f6e384, #ffd500)}
.bg-gradient-danger, .row .bg-gradient:nth-of-type(6n) > div {background:linear-gradient(to right, #ffbf96, #fe7096)}
.bg-gradient-dark, .row .bg-gradient:nth-of-type(7n) > div {background:linear-gradient(89deg, #5e7188, #3e4b5b)}
.navbar .navbar-menu-wrapper .navbar-nav{flex-direction:row;align-items:center}
.navbar.default-layout-navbar{background:#ffffff;transition:background 0.25s ease;-webkit-transition:background 0.25s ease;-moz-transition:background 0.25s ease;-ms-transition:background 0.25s ease}
.navbar.default-layout-navbar .navbar-brand-wrapper{transition:width 0.25s ease, background 0.25s ease;-webkit-transition:width 0.25s ease, background 0.25s ease;-moz-transition:width 0.25s ease, background 0.25s ease;-ms-transition:width 0.25s ease, background 0.25s ease;background:#ffffff;width:260px;height:70px}
@media (max-width: 991px){
  .navbar.default-layout-navbar .navbar-brand-wrapper{width:55px}
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: inline-block;
  }
}
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand{color:#27367f;font-size:1.5rem;line-height:48px;margin-right:0;padding:.25rem 0;width:100%}
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:active,.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:focus,.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:hover{color:#1b2658}
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand img{max-width:100%;height:60px;margin:auto;vertical-align:middle}
.navbar.default-layout-navbar .navbar-menu-wrapper{transition:width 0.25s ease;-webkit-transition:width 0.25s ease;-moz-transition:width 0.25s ease;-ms-transition:width 0.25s ease;color:#9c9fa6;padding-left:24px;padding-right:24px;width:calc(100% - 260px);height:70px}
@media (max-width: 991px){
  .navbar.default-layout-navbar .navbar-menu-wrapper{width:auto;padding-left:15px;padding-right:15px}
}
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler{border:0;color:inherit;height:70px;border-radius:0px;padding-left:5px;padding-right:20px}
@media (max-width: 991px){
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right{padding-left:15px;padding-right:11px;border-right:none}
}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input{font-size:0.875rem;padding:.5rem}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder{font-size:0.875rem;color:#9c9fa6}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder{font-size:0.875rem;color:#9c9fa6}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder{font-size:0.875rem;color:#9c9fa6}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder{font-size:0.875rem;color:#9c9fa6}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group i{font-size:17px;margin-right:0;color:#9c9fa6}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group .input-group-text{background:transparent}
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link{font-size:0.875rem;margin-left:1.5rem;margin-right:1.5rem;height:70px;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center}
@media (max-width: 767px){
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link{margin-left:.8rem;margin-right:.8rem}
}
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i{font-size:1.25rem}
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings{padding-left:20px;padding-right:5px}
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings .nav-link{margin-right:0;margin-left:0}
@media (max-width: 991px){
  .navbar{flex-direction:row}
  .navbar .navbar-brand-wrapper{width:75px}
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo{display:none}
}
@media (max-width: 480px){
  .navbar .navbar-brand-wrapper{width:55px}
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-top: 0px;
  }
}
/*body{font-size:1.8rem;font-weight:initial;line-height:normal;-webkit-font-smoothing:antialiased}*/
body{-webkit-font-smoothing:antialiased}

p{font-size:0.875rem}
h2{font-size:1.88rem}
p{font-size:.9375rem;line-height:1.5}
body{overflow-x:hidden;padding-right:0!important}
*:-moz-full-screen,*:-webkit-full-screen,*:fullscreen *:-ms-fullscreen{overflow:auto}
.page-body-wrapper{min-height:calc(100vh - 70px);display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-direction:row;padding-left:0;padding-right:0;padding-top:70px}
.main-panel{transition:width 0.25s ease, margin 0.25s ease;width:100%;min-height:calc(100vh - 70px);display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column}
@media (max-width: 991px){
  .main-panel{margin-left:0;width:100%}
}
.content-wrapper{background:#f5f5f5;padding:2.75rem 2.25rem;width:100%;-webkit-flex-grow:1;flex-grow:1}
.container-scroller{overflow:hidden}
.footer{background:#fff;padding:30px 1rem;transition:all 0.25s ease;-moz-transition:all 0.25s ease;-webkit-transition:all 0.25s ease;-ms-transition:all 0.25s ease;font-size:calc(0.875rem - 0.05rem)}

@media (max-width: 991px){
  .footer{margin-left:0;width:100%}
}
.grid-margin{margin-bottom:2.5rem}
.stretch-card{display:-webkit-flex;display:flex;-webkit-align-items:stretch;align-items:stretch;-webkit-justify-content:stretch;justify-content:stretch}
.stretch-card > .card{width:100%;min-width:100%}

.card .card-body{padding:2rem}
.card.card-img-holder{position:relative}
.card.card-img-holder .card-img-absolute{position:absolute;top:0;right:0;height:100%}
.input-group-prepend{color:#c9c8c8;width:auto;border:none}
.input-group-prepend .input-group-text{border-color:#ebedf2;padding:0.875rem 0.75rem;color:#c9c8c8}
.form-control{border:1px solid #ebedf2;font-size:0.8125rem}
ul{padding-left:1rem;font-size:0.875rem}
ul li{line-height:1.8}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar{min-height:calc(100vh - 70px);background:#ffffff;padding:0;width:260px;z-index:11;transition:width 0.25s ease, background 0.25s ease;-webkit-transition:width 0.25s ease, background 0.25s ease;-moz-transition:width 0.25s ease, background 0.25s ease;-ms-transition:width 0.25s ease, background 0.25s ease}
.sidebar .nav{overflow:hidden;flex-wrap:nowrap;flex-direction:column;margin-bottom:60px}
.sidebar .nav .nav-item{padding:0 2.25rem;-webkit-transition-duration:0.25s;-moz-transition-duration:0.25s;-o-transition-duration:0.25s;transition-duration:0.25s;transition-property:background;-webkit-transition-property:background}
.sidebar .nav .nav-item .collapse{z-index:999}
.sidebar .nav .nav-item .nav-link{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;white-space:nowrap;padding:1.125rem 0 1.125rem 0;color:#3e4b5b;-webkit-transition-duration:0.45s;-moz-transition-duration:0.45s;-o-transition-duration:0.45s;transition-duration:0.45s;transition-property:color;-webkit-transition-property:color}
.sidebar .nav .nav-item .nav-link i{color:inherit}
.sidebar .nav .nav-item .nav-link i.menu-icon{font-size:1.125rem;line-height:1;margin-left:auto;color:#bba8bff5}
.sidebar .nav .nav-item .nav-link i.menu-icon:before{vertical-align:middle}
.sidebar .nav .nav-item .nav-link i.menu-arrow{font:normal normal normal 24px/1 "Material Design Icons";line-height:1;font-size:1.125rem;margin-left:auto;color:#9e9da0}
.sidebar .nav .nav-item .nav-link i.menu-arrow:before{content:"\f141";font-size:inherit;color:inherit}
.sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon{margin-left:.25rem}
.sidebar .nav .nav-item .nav-link .menu-title{color:inherit;display:inline-block;font-size:0.875rem;line-height:1;vertical-align:middle}
.sidebar .nav .nav-item.active{background:#ffffff}
.sidebar .nav .nav-item.active > .nav-link .menu-title{color:#3441d0}
.sidebar .nav .nav-item.active > .nav-link i{color:#3441d0}
.sidebar .nav .nav-item:hover{background:#fcfcfc}
.sidebar .nav .nav-item.nav-profile .nav-link{height:auto;line-height:1;border-top:0;padding:1.25rem 0}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image{width:44px;height:44px}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img{width:44px;height:44px;border-radius:100%}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text{margin-left:1rem}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge{font-size:1.125rem;margin-left:auto}
.sidebar .nav .nav-item.sidebar-actions{margin-top:1rem}
.sidebar .nav .nav-item.sidebar-actions .nav-link{border-top:0;display:block;height:auto}
.sidebar .nav .nav-item.sidebar-actions:hover{background:initial}
.sidebar .nav .nav-item.sidebar-actions:hover .nav-link{color:initial}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link{color:#29323d}
.sidebar .nav.sub-menu{margin-bottom:20px;margin-top:0;list-style:none}
.sidebar .nav.sub-menu .nav-item{padding:0}
.sidebar .nav.sub-menu .nav-item .nav-link{color:#888;padding:0.75rem 2rem 0.75rem 2rem;position:relative;font-size:0.8125rem;line-height:1;height:auto;border-top:0}
.sidebar .nav.sub-menu .nav-item .nav-link:before{content:"\F054";font-family:"Material Design Icons";display:block;position:absolute;left:0px;top:50%;-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);color:#a2a2a2;font-size:.75rem}
.sidebar .nav.sub-menu .nav-item .nav-link.active{color:#3441d0;background:transparent}
.sidebar .nav.sub-menu .nav-item .nav-link:hover{color:#555555}
.sidebar .nav.sub-menu .nav-item:hover{background:transparent}
@media screen and (max-width: 991px){
  .sidebar-offcanvas{position:fixed;max-height:calc(100vh - 70px);top:70px;bottom:0;overflow:auto;right:-260px;-webkit-transition:all 0.25s ease-out;-o-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
}


table{border-collapse:collapse}
.table{width:100%;max-width:100%;margin-bottom:1rem;background-color:transparent}
.table th,.table td{padding:0.9375rem;vertical-align:top;border-top:1px solid #ebedf2}
.table thead th{vertical-align:bottom;border-bottom:2px solid #ebedf2}
.table-bordered{border:1px solid #ebedf2}
.table-bordered th,.table-bordered td{border:1px solid #ebedf2}
.table-bordered thead th{border-bottom-width:2px}
.progress{display:flex;height:1rem;overflow:hidden;font-size:0.75rem;background-color:#e9ecef;border-radius:0.25rem}
.progress-bar{display:flex;flex-direction:column;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#007bff;transition:width 0.6s ease}
@media screen and (prefers-reduced-motion: reduce){
	.progress-bar{transition:none}
}
.bg-primary{background-color:#b66dff!important}
.bg-success{background-color:#1bcfb4!important}
.bg-info{background-color:#198ae3!important}
.bg-danger{background-color:#fe7c96!important}

.progress{border-radius:3px;height:8px}
.progress .progress-bar{border-radius:3px}
.table{margin-bottom:0}
.table thead th{border-top:0;border-bottom-width:1px;font-weight:initial}
.table th,.table td{vertical-align:middle;font-size:0.875rem;line-height:1}
.table .error{border-width:1px 1px 1px 1px; border-color:#dc3545; border-style: solid;}
.table .error td{border-bottom:1px solid #dc3545;}
.table .warning{border-width:1px 1px 1px 1px; border-color:yellow; border-style: solid;}
.table .warning td{border-bottom:1px solid red;}
.table .success{border-width:1px 1px 1px 1px; border-color:#28a745; border-style: solid;}
.table .success td{border-bottom:1px solid #28a745;}

.card{border: none !important}
.card .card-title {
	color: #000;
	margin-bottom: .75rem;
	text-transform: capitalize;
	font-size: 1.125rem;
}

span.page-item{
  display: inline-block;
  padding-bottom: 20px
}

.page-link {
    padding: 0 !important}


.topics-list{
  list-style: none;
  margin:0;
  padding: 0;
}

.topics-list li {

  border-bottom: 1px solid #c6c6c6;
 }


.score-gradient-primary li{
 
  border-bottom: 2px;
  padding: 7px 0px 22px 0px;
  background: 
  linear-gradient(to left,  #EC9B61, #fccca2); 
  background-size:100% 2px;
  background-position:bottom 0 left 0,bottom 5px left 0;
  background-repeat:no-repeat;
}




.edit li:hover {box-shadow:inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);}

.edit li .actions {display: none;}
.edit li:hover .actions {display: block;}
.actions .badge{margin-left: 15px}

.actions-group{margin: 0px 20px;}
.dropdown-menu{padding: 0px 10px 0px 5px;}
.dropdown-menu .menu-item{margin: 10px 0px;}
.dropdown-menu .menu-item a i{margin-right:5px;}


.breadcrumb{display:flex;flex-wrap:wrap;padding:0.56rem 1.13rem;margin-bottom:1rem;list-style:none;background-color:transparent;border-radius:0.25rem; text-transform: capitalize}
.breadcrumb-item + .breadcrumb-item{padding-left:0.5rem}
.breadcrumb-item + .breadcrumb-item::before{display:inline-block;padding-right:0.5rem;color:#6c757d;content:"/"}
.breadcrumb-item + .breadcrumb-item:hover::before{text-decoration:underline}
.breadcrumb-item + .breadcrumb-item:hover::before{text-decoration:none}
.breadcrumb-item.active{color:#495057}

.breadcrumb{border:1px solid #ebedf2}
.breadcrumb .breadcrumb-item{font-size:0.875rem}
.breadcrumb.breadcrumb-custom{padding:0 0;border-color:#dbe3e6}
.breadcrumb.breadcrumb-custom .breadcrumb-item{font-size:0.875rem;background:#dbe3e6;padding:0.56rem 10px;color:#000;display:inline-block;vertical-align:top}
.breadcrumb.breadcrumb-custom .breadcrumb-item:last-child{background:transparent}
.breadcrumb.breadcrumb-custom .breadcrumb-item:before{content:""}
.breadcrumb.breadcrumb-custom .breadcrumb-item a{position:relative;color:inherit;border:1px solid #dbe3e6;display:inline-block;vertical-align:top}
.breadcrumb.breadcrumb-custom .breadcrumb-item a:before,.breadcrumb.breadcrumb-custom .breadcrumb-item a:after{position:absolute;top:-9px;width:0;height:0;content:"";border-top:21px solid transparent;border-bottom:21px solid transparent}
.breadcrumb.breadcrumb-custom .breadcrumb-item a:before{right:-22px;z-index:3;border-left-color:#dbe3e6;border-left-style:solid;border-left-width:12px}
.breadcrumb.breadcrumb-custom .breadcrumb-item a:after{border-top:21px solid transparent;border-bottom:22px solid transparent;border-left:12px solid #ffffff;top:-9px;right:-23px}
.breadcrumb.breadcrumb-custom .breadcrumb-item span{display:inline-block;vertical-align:top}
.bg-inverse-info{background:#89c4f2;border-color:#198ae3}
.bg-inverse-info .breadcrumb-item{color:#198ae3}
.bg-inverse-info .breadcrumb-item:before{color:inherit}
.bg-inverse-info .breadcrumb-item a{color:inherit}
.bg-inverse-info.breadcrumb-custom{background:transparent}
.bg-inverse-info.breadcrumb-custom .breadcrumb-item{background:#89c4f2}
.bg-inverse-info.breadcrumb-custom .breadcrumb-item a{color:white;border:none}
.bg-inverse-info.breadcrumb-custom .breadcrumb-item a:before{border-left-color:#89c4f2}
.bg-inverse-info.breadcrumb-custom .breadcrumb-item span{color:#198ae3}
.bg-inverse-info.breadcrumb-custom .breadcrumb-item:last-child{background:transparent}
.bg-inverse-info.breadcrumb-custom .breadcrumb-item:last-child a:before,
.bg-inverse-info.breadcrumb-custom .breadcrumb-item:last-child a:after{border:none}
.bg-inverse-info.breadcrumb-custom .breadcrumb-item:last-child a{color:#198ae3}




/*graph*/
line {
    stroke:#999;
}

g.node text {
    font-size:10px;
}

g.node_important text {
    margin-left: 50px;
}

g.node:hover text {
    font-size:20px;
    
}

#zoom_in, #zoom_out {
  padding: 0 8px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 30px
}

#zoom_in:focus, #zoom_out:focus{
  outline: none
}

#zoom_in {
  position: absolute;
  top: 80px;
  left: 45px;
}

#zoom_out {
  position: absolute;
  top: 80px;
  left: 96px;
  background-color: #F15B52
}

/*treemap*/

#graph {
  overflow: hidden;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

.metadata_key {
    width: 15em;
    font-weight: bold;
    text-transform: capitalize;
}

.metadata_table {
    width: 100%;
}

.metadata_table tr:nth-child(odd) {
    background-color: #eee;
}

#page_footer {
    text-align: center;
}

.topics-list .progress {
    width:200px;
    float:right;
}

/* editing */
.accept-action, .reject-action, .edit-action{
    margin-left:10px;
    line-height: 0.9;
}
.accept-action i {
    color:green;
}
.reject-action i {
    color:red;
}
.edit-action i {
    color: gray;
}
.editing-warning{
    position:fixed;
    width:100%;
    z-index:10000;
    left:0;
    text-align: center;
    padding: 10px;
}
.editing-warning .btn {
  margin-right: 5px;
  margin-left: 5px;
}

.edit-link{
    font-size:12px;
    display: inline-block;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.edit-link:hover{
    text-decoration: none;
    color: white;
}

.approve-btn{
  height: 25px!important;
  width: 80px!important
  
}

.modal {
  margin-top: 100px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}