body {
    font-family: Georgia;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #335F8A;
}

a:hover {
    text-decoration: underline;
}

.header_right {
	float: right;
	position: relative;
	top: 28px;
}
#logo { 
	background: transparent url("../img/saffron-logo.png") no-repeat top left; 
	margin: 10px 0 10px 15px !important; 
	text-indent: -9999px; 
	width: 227px; 
	height:65px 
}
.navbar {
	float: left;
	display: block;
	position: relative;
	top: 36px;
}
.navbar > ul {
	margin: 0;
	margin-left: 20px;
	padding: 0;
}
.navbar li {
	list-style-type: none;
	display: inline-block;
	margin: 0px 10px;
}
.navbar li > a {
	font-size: 1.1em;
	padding-bottom: 4px;
	padding-top: 4px;
}

.language_bar {
	position: absolute;
	right: 0;
	top: 0;
}

.language_bar li {
	list-style-type: none;
	display:inline-block;
}

/* Menu */
ul.menu {
	position: relative;
    margin: 0;
    padding-left: 0em;
}

ul.menu > li {
	padding: 0;
}

ul.menu li:hover {
    background: #f6f6f6;
}

ul.menu > li > a {
    border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    color: #333333;
    display: block;
    padding: 3px 3px;
}

ul.menu li ul {
    position: absolute;
    right: -1px;
    width: 9em;
    padding: 0;
    background: #f6f6f6;
    font-size: 80%;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
}

ul.menu li ul li {
    width: 9em;
}

ul.menu li ul li a {
    display: block;
    padding: 5px;
}

ul.menu li ul li:hover a {
    background: #F7F7F7;
}

ul.menu li ul.fallback {
    display: none;
}

ul.menu li:hover ul.fallback {
    display: block;
    z-index: 1000;
}


#mainbox {
    position: relative;
    width: 835px;
    margin: 0 auto;
    border: none;
    padding: 0;
    padding-bottom: 20px;
}

#logo {
	margin: 10px 15px;
    float: left;
}

#logo a {
    text-decoration: none;
    font-family: georgia;
    font-size: 55px;
    color: #333333;
    margin: 0;
}

#header {
	background-color: #fcfcfc;
}

/*searchbox*/

#searchbox {
    position: relative;
    margin-right: 40px;
}

#searchbox input[type="text"] {
    width: 280px;
    height: 29px;
    border: 1px solid #cccccc;
    font-size: 18px;
    font-family: georgia;
    padding-left: 10px;
    float: left;
}

#searchbox_form {
    position: relative;
}

/*search lens*/
#searchbox_form img {
}

#searchbox button[type="submit"] {
	height: 33px;
	width: 33px; 
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 0;
	border-top: 1px solid #CCCCCC;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	outline: 0;
}
/* Firefox button outline fix */
button::-moz-focus-inner { 
	border: 0;
}

#searchbox button[type="submit"] img {
	position: relative;
	top: -2px;
	left: -2px;
}

#searchbox input[type="submit"]:hover {
    cursor: pointer;
}

/*infobox*/
.infobox {
    border: 1px solid #cccccc;
    background-image: url(../img/back2.png);
    padding: 10px;
    color: #444444;
    margin-bottom: 20px;
}

.infobox .light {
	background-color: #fafafa;
	background-color: rgba(255, 255, 255, 0.70);
    border: 1px dotted #aaa;
    margin-bottom: 4px;
    padding: 7px 12px 15px;
}
.dbpedia_description {
	color: #222;
    font-size: 0.9em;
}
.dbpedia_synonyms {
    font-size: 0.9em;
    margin-top: 0.2em;
}

.spinner {
	height: 16px;
    margin: 0 auto;
    width: 16px;
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
}

.researcherbox > img {
    vertical-align: middle; display: inline;
}

/*box*/
.box {
    position: relative; /* to offset columns within topicsbox */
    margin-top: 10px;
}

.box_header {
    height: 26px;
    background-color: #ECF2FB;
    color: #444444;
    /*text-decoration: none;*/
    line-height: 26px;
    padding-left: 10px;
    margin-bottom: 8px;
    border-bottom: 1px dotted #999999;
}

.box_header p {
    float: right;
    margin: 0;
    margin-right: 16px;
}

.box_header p:first-child {
    margin: 0;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.box ul {
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-left: 10px;
}

#topics li {
    padding: 2px;
    border-bottom: 1px dotted #CCCCCC;
}

#researchers li {
    /*padding: 2px;*/
    clear: both;
    height: 31px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #CCCCCC;
}

#publications .box_column {
	width: 100%;
}

#publications li {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px dotted #CCCCCC;
}

#publications .list_item {
	display: block;
    margin-left: 1.5em;
}

#publications .paper_details {
	padding: 1px 5px;
	font-size: small; 
	color: #999;
}

#publications .paper_highlight {
	padding: 1px 5px;
	font-size: small; 
	color: #444;
}

#publications .paper_highlight em {
	background-color: #ffb;
	font-style: normal;
}

#publications .minor_link {
	color: #888;
	margin-left: 0.3em;
}

.pos {
    color: #999999;
    font-size: 12px;
    float: left;
    width: 25px;
}

.pos_researcher {
    color: #999999;
    font-size: 12px;
    float: left;
    line-height: 28px;
    width: 25px;
}

.box_column {
    /*position: absolute;*/
    float: left;
    min-width: 350px;
    margin-bottom: 25px;
    margin-right: 60px;
}

/*context*/

#context {
    position: relative;
}

#context_items {
    background-color: #e5e5e5;
    background-image: url("../img/back2.png");
    height: 27px;
    box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.4);
}

#context_footer {
    position: relative;
    background-repeat: repeat-x;
    height: 30px;
}

#context_firstitem {
    background-color: #C6DAF2;
    width: 45px;
    height: 27px;
    float: left;
    margin-right: 25px;
}

#context_firstitem a {
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    left: 15px;
}

#context_firstitem a img {
    border: none;
}

#context_firstitem > img {
    position: relative;
    left: 25px;
}


.context_item {
    float: left;
    margin-left: -19px;
}

.context_item img {
    float: left;
}

.context_item p {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 30px;
    line-height: 27px;
    background-color: #6098DD;
    color: #FFFFFF;
    font-size: 18px;
}

.context_item a {
    color: #FFFFFF;
    font-size: 18px;
}

.remove_button_off {
    background-image: url(../img/remove_off.png);
    width: 9px;
    height: 9px;
    float: left;
    position: relative;
    right: 22px;
    top: 9px;
    cursor: default;
}
.remove_button {
    background-image: url(../img/remove.png);
    width: 9px;
    height: 9px;
    float: left;
    position: relative;
    right: 22px;
    top: 9px;
}

.remove_button:hover {
    background-image: url(../img/remove_on.png);
    cursor: pointer;
}

.clear {
    clear: both;
}

/*researcher infobox*/
#researcher_card {
    /*color: black;*/
    font-style: normal;
    /*font-size: 12px;*/
}

#researcher_card p {
    margin: 0;
    padding: 0;
}

#researcher_photo {
    float: left;
    margin-right: 15px;
}

#researcher_photo img {
    height: 95px;
}

#researcher_name {
    font-size: 24px;
    color: black;
    /*margin-bottom: 6px;*/
}

#researcher_content {
    /*margin-left: 15px;*/
}

/*publication infobox*/
#publication_card {
    font-style: normal;
}

h2 {
    font-size: 1.6em;
    margin: 0.3em 0;
    color: #222;
}

#publication_abstract {
}

#publication_link {
    margin-top: 10px;
    margin-bottom: 20px;
}

#publication_link img {
    border: none;
}

/*page header*/
#page_header {
    height: 87px;
    /*border: 1px solid #CCCCCC;*/
    /*background-color: #002B55;*/
    padding-left: 20px;
    padding-top: 7px;
    background-image: url(../img/page_header.png);
    background-repeat: repeat-x;
}

#page_header_title {
    color: #CCCCCC;
    font-size: 24px;
    margin: 0;
    padding: 0;
    /*line-height: 55px;*/
}

#page_header_info {
    color: #CCCCCC;
    font-size: 14px;
    margin: 0;
    padding: 0;
    /*line-height: 30px;*/
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
html {
	overflow-y: scroll;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
#mainbox {
	padding-bottom: 162px;
}
#page_footer {
    border-top: 1px solid #CCCCCC;
    background-color: #F0F0F0;
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 0.8em;
    
	width: 100%;
	height: 117px;
}
#page_footer div {
    text-align: center;
}
#page_footer p {
    margin: 0;
    padding: 0;
    color: #404040;
}

#insight_logo {
	background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    padding: 4px 8px;
}

#nui_logo {
    position: relative;
    margin-left: 10px;
    border: none;
}

#sfi_logo {
    position: relative;
    left: -30px;
    top: 7px;
    border: none;
}

/*topic popularity chart*/
#chartdiv {
    width: 240px;
    height: 160px;
}
.chart_description {
    margin-bottom: 4px;
}

/*search help*/
#searchhelp {
    margin-right: 10px;
    float: right;
    position: relative;
    top: 36px;
    text-align:center;
    font-size: 12px;
}

a.plus {
    float: right;
}


.team_table {
	font-size: 1.1em;
	width: 100%;
}

.team_table .role {
	vertical-align: top;
}

.team_table td {
	border-bottom: 1px dotted #ccc;
	padding: 0.2em 0.5em;
}
.team_table .people {
	color: #666;
}

h6 {
	color: #444444;
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    font-weight: normal;
}
.light_inline {
	margin-left: 0.5em;
	margin-top: 0.3em;
}

ul.applications li {
	list-style-type: none;
	font-size: 1.1em;
	padding-top: 0.9em;
	padding-bottom: 0.9em;
	border-bottom: 1px dotted #ccc;
}

ol.publications {
	list-style-type: none;	
}
ol.publications li {
	padding-top: 0.9em;
	padding-bottom: 0.9em;
	border-bottom: 1px dotted #ccc;
		
}
ol.publications .names {
	color: #555;
	padding-bottom: 0.2em;
}
ol.publications .publications_title {
	font-size: 1.1em;
	padding-bottom: 0.2em;
}

h3 {
	color: #222;
	margin: 0.3em 0;
}


#appslist li {
	margin-bottom: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

#appslist h4 {
	margin-bottom: 0;
	color: #333;
}

.graphContainer {
	border: 1px solid #ccc;
}

/* Modernizr error messages */ 
.no-svg-error {	display: none; }
.no-inlinesvg .no-svg-error { display: block; text-align: center; }
.no-js-error {	display: none; }
.no-js .no-js-error { display: block; text-align: center; }
.no-js #taxonomy_container { display: none; }
.no-inlinesvg #taxonomy_container { display: none; }


#zoomin, #zoomout {
    position: absolute;
    cursor: pointer;
    z-index: 10000;
    left: 4px;
}
#taxonomy_container {
    position: relative;
}
#zoomin {
    top:4px;
}
#zoomout {
    top: 27px;
}

.zoomButtons {
	display: none;
}

/* This button was generated using CSSButtonGenerator.com */
.zoom {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    background-color:#bddbfa;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:20px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.zoom:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
    background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background-color:#80b5ea;
}.zoom:active {
    position:relative;
    top:1px;
}
